# ETL VICTIMAS

### IMPORTAR LIBRERIAS

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### CARGAR DATASET

In [2]:
df_victimas =pd.read_excel(r'C:\PROYECTO-INDIVIDUAL-2\Data\xlsx\homicidios.xlsx', sheet_name='VICTIMAS')
df_victimas.head()

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,2016-01-03,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,2016-01-10,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18,SD
4,2016-0005,2016-01-21,2016,1,21,CONDUCTOR,MOTO,MASCULINO,29,2016-02-01 00:00:00

### VISUALIZAMOS INFO

In [3]:
df_victimas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_hecho             717 non-null    object
 1   FECHA                717 non-null    datetime64[ns]
 2   AAAA                 717 non-null    int64
 3   MM                   717 non-null    int64
 4   DD                   717 non-null    int64
 5   ROL                  717 non-null    object
 6   VICTIMA              717 non-null    object
 7   SEXO                 717 non-null    object
 8   EDAD                 717 non-null    object
 9   FECHA_FALLECIMIENTO  717 non-null    object
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 56.1+ KB

### ELIMINACION DE COLUMNAS QUE NO APORTAN INFORMACION
#### Como vemos con el head e info:
#### Año, mes y día están incluidos en Fecha

In [4]:
columnas = ['AAAA', 'MM', 'DD']
df_victimas.drop(columns=columnas, inplace=True)

## Ahora podemos normalizar los datos

#### Convertimos EDAD en una columna numérica y ponemos como NaN todo lo que no sea numérico

In [5]:
df_victimas['EDAD'] = pd.to_numeric(df_victimas['EDAD'], errors='coerce')

#### Convertimos FECHA_FALLECIMIENTO a tipo date

In [6]:
df_victimas['FECHA_FALLECIMIENTO'] = pd.to_datetime(df_victimas['FECHA_FALLECIMIENTO'], errors='coerce')
df_victimas['FECHA_FALLECIMIENTO'] = df_victimas['FECHA_FALLECIMIENTO'].dt.date

#### Ahora las columnas que tendrían que ser tipo str

In [7]:
columnas = ['ROL', 'VICTIMA', 'SEXO']

# Aplicar cambios a las columnas seleccionadas
for columna in columnas:
    df_victimas[columna] = df_victimas[columna].str.strip()

#### Con esto podemos renombrar las columnas, para facilitar su uso y luego guardar el df limpio

In [8]:
Actuales = df_victimas.columns
Nuevas = ['id_hecho', 'fecha','rol', 'vehiculo_victima', 'sexo', 'edad', 'fecha_falleciomiento']

columnas = {Actuales: Nuevas for (Actuales, Nuevas) in zip(Actuales, Nuevas)}
df_victimas.rename(columns=columnas, inplace=True)

In [9]:
df_victimas.head()

,id_hecho,fecha,rol,vehiculo_victima,sexo,edad,fecha_falleciomiento
0,2016-0001,2016-01-01,CONDUCTOR,MOTO,MASCULINO,19.0,2016-01-01
1,2016-0002,2016-01-02,CONDUCTOR,AUTO,MASCULINO,70.0,2016-01-02
2,2016-0003,2016-01-03,CONDUCTOR,MOTO,MASCULINO,30.0,2016-01-03
3,2016-0004,2016-01-10,CONDUCTOR,MOTO,MASCULINO,18.0,NaT
4,2016-0005,2016-01-21,CONDUCTOR,MOTO,MASCULINO,29.0,2016-02-01

In [10]:
df_victimas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id_hecho              717 non-null    object
 1   fecha                 717 non-null    datetime64[ns]
 2   rol                   717 non-null    object
 3   vehiculo_victima      717 non-null    object
 4   sexo                  717 non-null    object
 5   edad                  664 non-null    float64
 6   fecha_falleciomiento  649 non-null    object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 39.3+ KB

#### Ver los NaN

In [11]:
tabla_victimas = []

tabla_victimas.append(pd.DataFrame({'Nulos': df_victimas.isnull().sum()}))

for row in tabla_victimas:
    display(row)

                      Nulos
id_hecho                  0
fecha                     0
rol                       0
vehiculo_victima          0
sexo                      0
edad                     53
fecha_falleciomiento     68

#### Guardamos

In [12]:
df_victimas.to_parquet(r'C:\PROYECTO-INDIVIDUAL-2\Data\parquet\victimas.parquet', index=False)
df_victimas.to_csv(r'C:\PROYECTO-INDIVIDUAL-2\Data\parquet\victimas.csv', index=False)